<nav class="navbar navbar-expand-lg navbar-dark"
	style="background-color: #5CB1EF;">

	<a class="navbar-brand" href="#">CVPlus</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" th:href="@{/}">Inicio
					<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/empresas}">Empresa</a></li>
			
			
			
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Asesor </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/asesors}">Vista Administrador</a>
					<a class="dropdown-item" th:href="@{/servicesxadvisers/list}">Vista Asesor</a>
					<div class="dropdown-divider"></div>
				</div></li>
			
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Estudiante </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/estudiantes}">Vista
						Empresa</a> 
					<a class="dropdown-item" href="#">Vista Asesor</a> 
					<a class="dropdown-item"  th:href="@{/views/students/advisory/list}">Vista Estudiante</a>
					<div class="dropdown-divider"></div>
				</div></li>

			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Portafolio </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/portafolios}">VistaEmpresa</a> 
					<a class="dropdown-item" href="#">Vista Estudiante</a>
				<div class="dropdown-divider"></div>
				</div></li>
			
		</ul>

	</div>
</nav>